.threads {
    width: 90%;
    height: inherit;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-flow: row wrap;
    gap:2em;
}

.thread {
    width: 150px;
    margin:1em;

    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.thread .title {
    font-weight: bold;
    font-size: 1rem;
}

.thread .headline {
    font-size: .9rem;

}

.signature {
    font-size: 2.5em;
    font-family: Tahoma,sans-serif;
    font-weight: 700;
}

.signature span {
    text-transform: capitalize;
}


.startnewthreadbtn {
    color: blue;
    font-size: 1.6rem;
    font-weight:bold;
    text-align: center;
}
.startnewthreadbtn:hover {
    color: red;
    cursor: pointer;
}

.createnewthread {
    min-width:550px;
    min-height:250px;
    justify-content: center;
    align-items: center;
    display:grid;

    grid-gap: 2px;
    grid-template: 
        "name nameinput ." 1.8rem
        "subject subjectinput postbtn" 1.8rem
        "comment commentinput commentinput" auto
        "file fileinput fileinput" 1.8rem 
        "error error error" 1fr /
        auto 1fr 80px;
}

.createnewthread > * {
    border: 1px solid maroon;
    line-height: normal;
    height:100%;
    font-size: 1rem;
}

.createnewthread > .label {
    background-color: coral;
    color: maroon;
    display: flex;
    width: 100%;
    padding: 0 4px;
    font-weight: 700;
    align-items: center;
}

.createnewthread > .input {
    background-color: white;
    color: black;
}

.createnewthread > .input:focus {
    outline:none;
}

.createnewthread > .namelabel {
    grid-area: name;
}

.createnewthread > .nameinput {
    grid-area: nameinput;
}

.createnewthread > .subjectlabel {
    grid-area: subject;
}

.createnewthread > .subjectinput {
    grid-area: subjectinput;
}

.createnewthread > .commentlabel {
    grid-area: comment;
}

.createnewthread > .commentinput {
    grid-area: commentinput;
    min-width: inherit;
    min-height: inherit;
}

.createnewthread > .filelabel {
    grid-area: file;
}

.createnewthread > .fileinput {
    grid-area: fileinput;
    outline: none;
    border: none;
}

.createnewthread > .error {
    grid-area: error;
    width:100%;
    display:none;
    background-color: red;
    color: white;
    font-size: 1.5rem;
}

.postbtn {
    grid-area: postbtn;
    color: black;
    background-color: lightgray;
    border-radius: 5px;
}

.postcount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-style: solid; 
    border-width: 1px 0;
    border-color: rgb(6, 6, 6,.2);
}

.postreplybtn {
    color: #81a2be;
    margin: .5rem;
    font-size: 1rem;
}

.postreplybtn:hover {
    color: blue;
    cursor: pointer;
}